{% load staticfiles %}

{% block content %}
<title>Lista de Peliculas</title>
	<div class="container">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-11">
						<h2 class="panel-title text-center">Peliculas</h2>
					</div>
					<div class="col-md-1 text-right">
						<input type="button" class="btn btn-success btn-sm" value="Nueva" onclick="window.location='agregar'" />
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th class="text-center">Clave</th>
						<th>Titulo</th>	
						<th>Duracion</th>
						<th>Sinopsis</th>
						<th>Clasificacion</th>
						<th>Genero</th>
					</tr>
					{% for pelicula in Peliculas %}
						<tr>
							<td>{{pelicula.clave}}</td>
							<td>{{pelicula.titulo}}</td>
							<td>{{pelicula.duracion}}</td>
							<td>{{pelicula.sinopsis}}</td>
							<td>{{pelicula.clasificacion}}</td>
							<td>{{pelicula.genero}}</td>
							<td width="65px" class="text-center">
								<a href = "javascript: if(confirm('Deseas editar {{pelicula}}??')) window.location='{% url "editar" pk=pelicula.id %}'"> Editar</a>
								<a href = "javascript: if(confirm('Deseas eliminar {{pelicula}}??')) window.location='{% url "eliminar" pk=pelicula.id %}'"> Eliminar</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>	
{% endblock %}